.toggle-temperature-scale {
  @include carbon--type-style('productive-heading-01');
  color: $text-01;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.scale-type__C>svg {
    fill: $visited-link;
  }

  &.scale-type__F>svg {
    fill: $link-01;
  }
}